
<!--<form action="index.php" method="post">
  <label for="fname">Email:</label><br>
  <input type="text" id="email" name="email" value=""><br>
  <input type="submit" value="Submit">
</form> -->


<html lang="en">
  <head>
        <title>Email Verification</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../public/css/bootstrap.min.css">
        <link rel="stylesheet" href="./../public/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
        

        <script src="./../public/js/jquery-3.5.1.min.js"></script>
        <script src="./../public/js/bootstrap.min.js"></script>
        <script src="./../public/js/main.js"></script>
      
	</head>
    
	<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="./../public/images/logoHeader.jpg">Logo</a>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a> 
          </li>
        </ul>
      </div>
    </nav>
    <header  class=" page-header header container-fluid">
        <div class="overlay">
          <button class="btn btn-secondary btn-lg">Case Study</button>
        </div>
        <div class="description">
          <h1>AUTOMATED TELE SERVICES</h1>
        </div>
    </header>
    <div class="container-fluid features"  >
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <h2 class="feature-title">Dear&nbsp;....</h2>
              <p>Following on from our email on 07 June 2022 regarding the solution we offer for Automated Teleservices marketing, we thought we'd show you some tangible results from a Case Study demostrating how our solution can help you increase your ROI.</p>
          </div>
      </div>
      <div class="row" style=" background-color: rgba(214, 214, 233, 0.753)">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h2 class="feature-title">The Chalange&nbsp;....</h2>
            <p>We met with BMW / MINI Retailer Group who were struggling to manage their backlogged Teleservices Tickets and 
              Customers Contacts due to lack of in-house resource and high vlolume of Teleservices tickets.</p>
              <p>This meant that they were missing opportunities and potential revenue so had to be resolved ASAP.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="./../public/images/vehical11.jpg" class="img-fluid" alt="image..">
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="feature-title">The Solution&nbsp;....</h2>
            <p>Motor Marketing UK put the following process in place to assists the dealer group with these potential losses</p>
          </div>  
        </div>  
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <ul class="list-display list-checkmarks">
              <li>Fully automated Teleservices Ticket closing</li>
              <li>Additional resource within our contact center team to handle all calls and bookings</li>
              <li>A structured, consistent process for call handling which resulted in increased booking rates and conversions which were carried out directky in the Retailers DMS</li>
            </ul>  
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12">
            <ul class="list-display list-checkmarks">
              <li>Weekly reports to track penetration rates and to identify any reasons for customers not booking </li>
              <li>Customer data checked and cleansed on every call,(Preferred Service Partner and Cusrtomer information updated on DMS) providing the Retailer with every oppertunity for future marketing compaigns</li>
            </ul>  
          </div>   
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 btn2">
            <button class="btn btn-secondary btn-lg">Learn More</button>
          </div>  
        </div> 
      </div>
  </div>
  </div>
	</body>
	
</html>
